<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

  <div class="container">
    <a class="navbar-brand" href="{%url 'contact'%}">App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <div class="navbar-nav ms-auto">
          <a class="nav-link" href="{%url 'main'%}">main</a>
          <a class="nav-link" href="{%url 'contact'%}">Contact us </a>
          <a class="nav-link" href="{%url 'ordermodel'%}">order page</a>
          <a class="nav-link" href="{%url 'model'%}">product</a>
          <a class="nav-link" href="{%url 'logout'%}">Logout</a>
       
      </ul>
      </div>
    </div>
  </div>
</nav>
